*{
	font-family:Helvetica;
}


body{
	background-color:gray;

}

.angular-google-map-container { height: 400px; }

#page_main .col-left{}
#page_main .col-right{
	background-color:red;
}
.container-fluid{
	padding-left:0px;
	padding-right:0px;
}

header{
	width:100%;
	height:4em;
	background-color:#444444;
	margin:0;
	color:white;
	padding: 0px 5px 0 5px;
	box-shadow: 0px 2px 5px #C4C4C4;
}
header h1{
	font-family:Helvetica;
	  padding:0;
  	margin:0;

	font-size:2.5em;
	line-height:1.5em;
}
.nav_bar{
	position:relative;

}
.login_bar{
	position:absolute;
	right:0%;
	margin-top:0.5em;
}

.map_outter_div{
	position:relative;
}
.map_div{
	width:100%;
	height:100%;

}

.map_ui_panel{
	position:absolute;
	top:10%;
	right:5%;
	z-index:99;
	width:20%;
	min-width:250px;
	background-color:white;
	opacity: 0.9;
	border-radius: 2px;
	box-shadow: 0px 2px 5px #C4C4C4;
	padding:10px 10px 10px 10px;
	font-family:Helvetica;
}
.map_ui_panel input[type="text"]{
	width:100%;
}
.map_ui_panel h3{
	font-size:1.25em;
	font-style:italic;
	font-weight:800;
}
.map_ui_panel h4{
	font-style:italic;
	font-weight:800;
}
.map_ui_panel .rdoRate label{
	width:100%;
	padding-left:0;
	margin-bottom:0.5em;
}
.map_ui_panel .rdoRate input{
	display:block;
	position:relative;
	margin:0 auto 0 auto;
}
.map_ui_panel .rdoRate p{
	font-style:italic;
	font-size:0.8em;
	text-align:center;
}
.map_ui_panel .rdoRate img{
	display:block;
	margin:0 auto 5px auto;
}
.name_panel{
	top:5%;
	left:5%;
	width:15%;
	min-width:15em;
	height:2em;
	line-height:0.75em;
	opacity:0.8;
}
.markers_remain_panel{
	left:5%;
	top:10%;
	height:42px;
	min-width:2em;
	width:4.25em;
	padding: 3px 3px 3px 3px;
}
.markers_remain_panel img{
	
	float:left;
	display:block;

}
.markers_remain_panel p{
	font-size:1em;
	line-height: 2.25em;
	float:left;
}