body{
	background-color:gray;
}

.angular-google-map-container { height: 400px; }

#page_main .col-left{}
#page_main .col-right{
	background-color:red;
}

header{
	height:4em;
	background:green;
}

#map_canvas{
	height:500px;
}