*{
	font-family:Helvetica;
}
a{
	cursor:pointer;
}

body{
	background-color:#D2DDE7;
	height:100%;

}
em{
	font-style:italic;
}
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.angular-google-map-container { height: 400px; }


.container-fluid{
	padding-left:0px;
	padding-right:0px;
	background-color:white;
}
.view_content{
	margin:2em 1em 3em 1em;

}
header{
	width:100%;
	background-color:#82CA9D;
	margin:0;
	
	padding:1em 5px 1em 5px;
	box-shadow: 0px 2px 5px #C4C4C4;
}
header h1{
	font-family:Helvetica;
	  padding:0;
  	margin:0;
  	color:white;
	font-size:2.5em;
	
}
header
.nav_bar{
	position:relative;

}
.login_bar{
	position:absolute;
	right:0%;
	margin-top:0.5em;
}
header .nav li>a{
	color:#555555;
	font-weight:bold;
}
header .nav li.active>a{
	color:white;
	background-color:#82CA9D;
}
header .nav li>a:hover{
	background-color:#A2D39C;
	
}
header .nav li.active>a:hover{
	color:white;
	background-color:#A2D39C;

}
header .nav li.lnkLogin>a{
	font-weight:normal;
	

}
header .nav li.lnkLogout>a{
	font-weight:normal;
	color:#A187BE;

}

.map_outter_div{
	position:relative;
}
.map_div{
	width:100%;
	height:100%;

}

.map_panel{
	position:absolute;
	
	z-index:99;
	width:20%;
	min-width:250px;
	background-color:white;
	opacity: 0.9;
	border-radius: 2px;
	box-shadow: 0px 2px 5px #C4C4C4;
	padding:10px 10px 10px 10px;
	font-family:Helvetica;
}
.map_panel input[type="text"]{
	width:100%;
}
.map_panel h3{
		font-size:1.25em;
		margin:0;
	font-weight:800;
}
.map_create{
	top:10%;
	right:5%;
}
ng-questions-view h4{
	font-weight:bold;
	margin-bottom:1em;
	/*height:80vh;
	width:100%;*/
}
ng-questions-view p{
	
	margin-bottom:1em;
}
.response_panel{
	top:15%;
	left:5%;
}
.rating_panel{
	top:10%;
	right:5%;
}
.rating_panel h4{
	
	font-weight:800;
}
.rating_panel .rdoRate label{
	width:100%;
	padding-left:0;
	margin-bottom:0.5em;
}
.rating_panel .rdoRate input{
	display:block;
	position:relative;
	margin:0 auto 0 auto;
}
.rating_panel .rdoRate p{
	font-style:italic;
	font-size:0.8em;
	text-align:center;
}
.rating_panel .rdoRate img{
	display:block;
	margin:0 auto 5px auto;
}
.name_panel{
	top:5%;
	left:5%;
	width:15%;
	min-width:15em;

	line-height:1em;
	opacity:0.9;
	padding:0.4em 0 0.4em 1em;
}
.markers_remain_panel{
	left:5%;
	position:relative;
	height:42px;
	min-width:2em;
	width:4.25em;
	padding: 3px 3px 3px 3px;
}
.markers_remain_panel img{
	
	float:left;
	display:block;

}
.markers_remain_panel p{
	font-size:1em;
	line-height: 2.25em;
	float:left;
}
#question_panel .collapse p{
	
	margin-bottom:1em;
}
#question_panel h4{
	margin-bottom:0.5em;
}
#question_panel .collapse textarea{
	margin-bottom: 1em;
}

table th{
	font-weight:bold;
}

.response_panel h3{
	margin-bottom:0.5em;
}
.response_panel .question_text{
	font-size:0.85em;
	font-weight:bold;
	color:#676768;
	
}
.response_panel .question_response{
	margin-bottom:0.5em;
}
.response_panel .response_text{
	font-style:italic;
	color:#604984;
	font-size:0.85em;
	
}



/*admin*/
#question_list li{


}
#adminQuestionPanel{
	margin-top:1em;
}

/* about */

#about .jumbotron{
	margin-bottom:0px;
}
#about .about_row{
	padding:3em 1em 3em 1em;	
}
#about .about_row{
	font-size:1.3em;
}
#about #imgRow img{
	display:block;
	margin:0 auto 0 auto;
	width:100%;
}
#about #imgRow{

	background-color:#D2DDE7;
}
#about #imgRow .left{
	padding-left:0px;


}
#about #row3{
	background-color:#E8E8E8;
}
.vcenter{
	   display: inline-block;
    vertical-align: middle;
    float: none;
}
/*sa select */

#sa_search_row{
	background-color:#e8e8e8;
	padding:5em 0 4em 0;
}
#sa_search_row input{
	width:80%;
	margin:0 auto 0 auto;
	height:3em;
}
#sa_tile_row{
	padding:0 0 4em 0;
	background-color:#e8e8e8;

}
#sa_tile_row .col-md-4{
	padding:1.5em 1.5em 1.5em 1.5em;
}
.sa_tile{
	position:relative;
	cursor:pointer;
	background-color: #7EA7D8;
	width:100%;
	padding:0;
	height:5em;
	
}
.sa_tile img{
	width:25%;
	position:absolute;
	bottom:25%;
	right:-5%;
}
@media screen and (max-width:990px) {
	#sa_tile_row .col-md-4{
		padding:1em 1em 1.5em 1em;
	}
	.sa_tile img{
		width:11%;
	}
	.sa_tile{
		height:6em;
	}
}
.sa_tile:hover{
	background-color:#ACACAC;
	
	box-shadow: 0px 2px 2px #C7C7C7;
}
.sa_tile p{
	padding:0;
	margin:0;
}
.sa_tile .sa_title{
	position:absolute;
	top:0.5em;
	left:0.5em;

	font-weight:bold;
	color:white;
}
.sa_tile .sa_mrkcount{
	padding:0;
	position:absolute;
	bottom:0.5em;
	right:0.5em;

}


#tblSASelect{
	font-size:1.2em;
	border:none;
	border-color:white;
}
#tblSASelect tr:nth-child(2n+1) th{
	background-color:#E8E8E8;
}
#tblSASelect tr:nth-child(2n+1) td{
	background-color:#D2DDE7;
}
#tblSASelect th, #tblSASelect td{
	border-top:none;
	
}
