<div ng-controller="AdminQuestionController">
	<div class="panel panel-primary">
	   	<div class="panel-heading">
	    	<h3 class="panel-title">Question Sets</h3>
	  	</div>

	  	<div class="panel-body">
	  		<label>Select Question Set <br />
				<select ng-model="selQS" class="form-control" ng-options="qs.name for qs in question_sets">
											
				</select>
			</label>

			<label style="margin-left:6em">New Set<br />
				<input  ng-model="newQS" class="form-control" type="text" />
			</label>
			<button type="button" ng-click="btnNewQuestionSet()"class="btn btn-success">New Set</button>

		</div>
	</div><!--end panel primary-->
			

	<div id="adminQuestionPanel" class="panel-collapse collapse">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h3 class="panel-title"> {{ question_set.name }} </h3>
		  	</div>

				<!--<ul id="question_list" class="list-group">
					<li class="list-group-item" data-qid="{{ q.question_id }}" ng-repeat="q in questions">
						 
						  {{ q.question_text }}	
					</li>

				</ul>-->

			<table id="tblQuestionSet" class="table table-striped">
				<tr>
					<th>Question Text</th>
					<th>Question Type</th>
					<th>Order</th>
					<th></th>
					<th></th>
				</tr>

				<tbody id="question_list">
					
						<tr data-qid="{{ q.question_id }}" ng-repeat="q in question_set.questions">
							
								<td>{{ q.question_text }}</td>
								<td>{{ q.question_type }}</td>
								<td>{{ q.order }}</td>
								<td><a ng-click="editClick(q.question_id)">edit</a></td>
								<td><a ng-click="removeQuestion(q.question_id)">remove</a></td>
							
						</tr>
					</div>
					
				</tbody>
			</table>
		</div><!--end panel primary-->

		<button type="button" ng-click="btnAddQuestion()" class="btn btn-primary">Add Question</button>
		<button type="button" ng-click="btnSaveQuestions()" class="btn btn-success pull-right">Save Changes</button>
	</div><!--end admin panel collapse-->


	
		        
	<ng-question-add qs="question_set" edit="edit_mode" eid="eid"></ng-question-add>
				 	
				




</div>