<div ng-controller="AdminQuestionController">
	<div class="panel panel-primary">
	   	<div class="panel-heading">
	    	<h3 class="panel-title">Question Sets</h3>
	  	</div>

	  	<div class="panel-body">
	  		<label>Select Question Set <br />
				<select ng-model="selQS" ng-options="qs.name for qs in question_sets">
											
				</select>
			</label>

			<br />

			<div id="adminQuestionPanel" class="panel-collapse collapse">


				<!--<ul id="question_list" class="list-group">
					<li class="list-group-item" data-qid="{{ q.question_id }}" ng-repeat="q in questions">
						 
						  {{ q.question_text }}	
					</li>

				</ul>-->

				<table id="tblQuestionSet" class="table table-striped">
					<tr>
						<th>Question Text</th>
						<th>Question Type</th>
						<th>Order</th>
					</tr>

					<tbody id="question_list">
						<tr data-qid="{{ q.question_id }}" ng-repeat="q in questions">
							<td>{{ q.question_text }}</td>
							<td>{{ q.question_type }}</td>
							<td>{{ q.order }}</td>
						
						</tr>
					</tbody>
				</table>

				<button type="button" ng-click="btnSaveQuestions()"class="btn btn-success">Save Changes</button>
			</div>
		</div>
	</div><!--end panel-->
</div>