
<div id="page_main" class="map_outter_div">
	<!--<div class="col-md-9 col-left"> -->
	<!--	<div id="ui_handle"></div>-->

		<div id="map_canvas" class="map_div" ></div>
	   
		<div class="name_panel map_panel">
			<h3> {{ studyarea.name }}</h3>
		</div>

		<!--
		<div class="markers_remain_panel map_panel">
			<img src="res/images/marker_icon/icon_grey.png" />
			<p> x{{ 15 - participant.markers_placed }}</p>
		</div>-->

	    <div class="map_panel rating_panel">
	    	<h3>Select a Rating</h3>

	    	<div class="row">
	    		<div class="col-md-4">
	    			<div class="rdoRate radio">
		    			<label>

		    				<img src="res/images/marker_icon/icon_red.png" />
		    				<input ng-change='rdoColorChange(markerType)' type="radio" name="markerType" ng-model="markerType" id="optionsRadios1" value="red">
		    			</label>

		    			<p>Detracts from community</p>
		    		</div>
		    	</div>


		    	<div class="col-md-4">
	    			<div class="rdoRate radio">
		    			<label>
		    				<img src="res/images/marker_icon/icon_yellow.png" />
		    				<input ng-change='rdoColorChange(markerType)' type="radio" name="markerType" ng-model="markerType" id="optionsRadios2" value="yellow">
		    			</label>
		    			<p>Important opportunity that needs work</p>
		    		</div>
		    	</div>
		    	<div class="col-md-4">
		    		<div class="rdoRate radio">
		    			<label>
		    				<img src="res/images/marker_icon/icon_green.png" />
		    				<input ng-change='rdoColorChange(markerType)' type="radio" name="markerType" ng-model="markerType" id="optionsRadios3" value="green">
    					</label>
    					<p>A cool place that adds value</p>
		    		</div>
		    	</div>
	    	</div>
	    	
	    	<button id="btnSelectMarkerLocation" type="button" data-ng-click="btnSetRating()"  class="btn">Rate Location</button>
	    	<!--<button type="button" data-ng-click="btnDebug()"  class="btn">(debug)</button>-->
	    	<hr />

	    
	    		<div id="question_panel">
			    	<div id="collapsible_content" class="panel-collapse collapse">
				    	
				    	<h4>What kind of place?</h4>

				    	<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="street">
			    				Street
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="intersection">
			    				Intersection
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="park">
			    				Park
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="plaza">
			    				Plaza
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="public institution">
			    				Public institution(library, school, post office)
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="shops">
			    				Cluster of shops, stores
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="scenic">
			    				Scenic area
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="health care">
			    				Health care
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="tourist">
			    				Tourist attraction
			    			</label>
			    		</div>
		    			<div class="radio">
			    			<label>
			    				<input ng-change='rdoLocationTypeChange(locationType)' type="radio" name="locationType" ng-model="locationType" value="historic">
			    				Historic site
			    			</label>
			    		</div>

			    		<button type="button" data-ng-click="btnCancelMarkerPlacement()" class="btn">Cancel</button>
			    		<button type="button" id="btnNext" data-ng-click="btnNextPage()" class="btn btn-success">Next</button>
				    
				      
				    
				    </div><!--end collapsible -->

				    <div id="collapsible_content2" class="panel-collapse collapse">
				   		
				    	<p style="font-style:italic">You marked this place as {{ rating_description }}: can you tell us why?</p>
				    	<textarea class="form-control" ng-model="question_1" rows="5"></textarea>

				    	<button type="button" id="btnNext" data-ng-click="btnLastPage()" class="btn">Back</button>
				    	<button type="button" id="btnNext" data-ng-click="btnNextPage()" class="btn btn-success">Next</button>

				    </div>

					<div id="collapsible_content3" class="panel-collapse collapse">
				   		<h4>Uses &amp; Activities</h4>

				    	<p>What additional uses and activities could be clustered ('triangulated') with this destination to improve it?</p>
				    	<textarea class="form-control" ng-model="question_2" rows="5"></textarea>

				    	<button type="button" id="btnNext" data-ng-click="btnLastPage()" class="btn">Back</button>
				    	<button type="button" id="btnNext" data-ng-click="btnNextPage()" class="btn btn-success">Next</button>

				    </div>    
					<div  class="panel-collapse collapse">
				   		<h4>Sociability</h4>

				    	<p>What group activities could be supported here? e.g space for childrens activities, programs, cultural events, education, hobbies, etc.</p>
				    	<textarea class="form-control" ng-model="question_3" rows="5"></textarea>

				    	<button type="button" id="btnNext" data-ng-click="btnLastPage()" class="btn">Back</button>
				    	<button type="button" id="btnNext" data-ng-click="btnNextPage()" class="btn btn-success">Next</button>

				    </div>    
					<div  class="panel-collapse collapse">
				   		<h4>Comfort &amp; Image</h4>

				    	<p>What enhancements would make it more comfortable, more inviting, or give it stronger identity?</p>
				    	<textarea class="form-control" ng-model="question_4" rows="5"></textarea>

				    	<button type="button" id="btnNext" data-ng-click="btnLastPage()" class="btn">Back</button>
				    	<button type="button" id="btnNext" data-ng-click="btnNextPage()" class="btn btn-success">Next</button>

				    </div>
					<div  class="panel-collapse collapse">
				   		<h4>Access &amp; Linkages</h4>

				    	<p>Are there any ways to increase regional importance by improving physical and programmatic connections to other attractions nearby?</p>
				    	<textarea class="form-control" ng-model="question_5" rows="5"></textarea>

				    	<button type="button" id="btnNext" data-ng-click="btnLastPage()" class="btn">Back</button>
				    	<button type="button" id="btnNext" data-ng-click="btnNextPage()" class="btn btn-success">Next</button>

				    </div>   

					<div  class="panel-collapse collapse">
				   		

				    	<p>Thank you for taking time to answer the questions.</p>
				    	

				    	<button type="button" data-ng-click="btnLastPage()" class="btn">Back</button>
			    	  	<button type="button" id="btnConfirmLocation" data-ng-click="btnPlaceMarker()" class="btn btn-primary">Complete</button>

				    </div>       
				</div>
		
		</div><!--end map panel-->

		<div class="modal fade" id="mdlAddMarker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Location Details</h4>
		      </div>
		      <div class="modal-body">
		        
		      	<p>Please briefly describe why you chose to give this locations its rating</p>

		      	<textarea class="form-control" rows="3" ng-model="markerDescription"></textarea>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button type="button" class="btn btn-primary" ng-click="modalSubmitMarker()">Submit Marker</button>
		      </div>
		    </div>
		  </div>
		</div>
	    <!-- other directives here -->
	    
	
	<!--</div>-->
	<!--<div class="col-md-3 col-right">

		
		<div class="ui_panel">



		</div>

	</div>-->



</div>
<!--<button id="btnDebug" type="button" class="btn btn-default">Debug</button>-->

