
<div id="page_main" class="map_outter_div">
	<!--<div class="col-md-9 col-left"> -->
	<!--	<div id="ui_handle"></div>-->

		<div id="map_canvas" class="map_div" ></div>
	   
		<div class="name_panel map_panel">
			<h3> {{ studyarea.name }}</h3>
		</div>

		<div class="response_panel map_panel panel-collapse collapse">
			<h3>Response</h3>
			Lat: {{ response_marker.lat }} <br />
			lng: {{ response_marker.lng }}
		</div>

		<!--
		<div class="markers_remain_panel map_panel">
			<img src="res/images/marker_icon/icon_grey.png" />
			<p> x{{ 15 - participant.markers_placed }}</p>
		</div>-->

	    <div class="map_panel rating_panel">
	    	<h3>Select a Rating</h3>

	    	<div class="row">
	    		<div class="col-md-4">
	    			<div class="rdoRate radio">
		    			<label>

		    				<img src="res/images/marker_icon/icon_red.png" />
		    				<input ng-change='rdoColorChange(markerType)' type="radio" name="markerType" ng-model="markerType" id="optionsRadios1" value="red">
		    			</label>

		    			<p>Detracts from community</p>
		    		</div>
		    	</div>


		    	<div class="col-md-4">
	    			<div class="rdoRate radio">
		    			<label>
		    				<img src="res/images/marker_icon/icon_yellow.png" />
		    				<input ng-change='rdoColorChange(markerType)' type="radio" name="markerType" ng-model="markerType" id="optionsRadios2" value="yellow">
		    			</label>
		    			<p>Important opportunity that needs work</p>
		    		</div>
		    	</div>
		    	<div class="col-md-4">
		    		<div class="rdoRate radio">
		    			<label>
		    				<img src="res/images/marker_icon/icon_green.png" />
		    				<input ng-change='rdoColorChange(markerType)' type="radio" name="markerType" ng-model="markerType" id="optionsRadios3" value="green">
    					</label>
    					<p>A cool place that adds value</p>
		    		</div>
		    	</div>
	    	</div>
	    	
	    	<button id="btnSelectMarkerLocation" type="button" data-ng-click="btnSetRating()"  class="btn">Rate Location</button>
	    	<!--<button type="button" data-ng-click="btnDebug()"  class="btn">(debug)</button>-->
	    	<hr />

	    
	    		
		
		</div><!--end map panel-->

		<ng-questions-view sa="studyarea" qvopen="qvopen" mmarker="marker"></ng-questions-view>
	    
	
	<!--</div>-->
	<!--<div class="col-md-3 col-right">

		
		<div class="ui_panel">



		</div>

	</div>-->



</div>
<!--<button id="btnDebug" type="button" class="btn btn-default">Debug</button>-->

