
<div id="page_main" class="row">
	<div class="col-md-9 col-left">
	<div id="ui_handle"></div>

	<google-map id="map_canvas" 
		center='map.center' 
	    zoom='map.zoom'
	    draggable='map.draggable'
	    dragging='map.dragging'
	    refresh='map.refresh'
	    options='map.options'
	    events='map.events'
	    bounds='map.bounds'
	    pan='map.pan'>
	    
	    <!-- other directives here -->
	    
	</google-map>  
	</div>
	<div class="col-md-3 col-right">

		
		<div class="ui_panel" ng-include="panel_partial">
			


		</div>

	</div>



</div>
<button id="btnDebug" type="button" class="btn btn-default">Debug</button>

