<div id="about">

	<div id="abtJumbo">

		<div class="jumbotron">
			<div class="container">
			  <h1>Building an Active Anaconda</h1>
			  <p>This Placemapping site is a joint project of
				Anaconda County’s Building an Active Anaconda
				Team initiative and the New Mobility West program.</p>

			  <p>Click <a href="http://newmobilitywest.org/">here</a> for more information on New Mobility West.</p>	
		 
		  </div>
		</div>
	</div>

	<div id="imgRow" class="about_row">
		
		<div class="container">
			<div class="col-md-7 left">
				<p class="vcenter">The BAAT wants to improve the health of both its downtown and its residences, mainly by improving the walkability, bikeability and livability of downtown.</p>

				<p>To create a more vibrant and inviting downtown, BAAT has identified a need to: </p>
				<ul>
					<li>Slow down traffic on East Park Avenue and East Commercial Avenue</li>
					<li>Give motorists something to catch their attention as they pass through</li>
					<li>Reduce the barrier effect that downtown streets pose to walking and biking and vibrancy</li>
					<li>Create a strategy for filling in vacant or demolished lots</li>
					<li>Provide more destinations downtown via Placemaking
						<ul>
							<li>Activate existing places such as Kennedy Commons and Durst Park</li>
							<li>Create new places and plazas</li>
						</ul>
						</li>
				</ul>
			</div>
			<div class="col-md-5">
				<img src="res/images/anaconda.jpg" />
			</div>
		</div>
	</div>

	<div id="row3" class="about_row">
		<div class="container">
			<p>As part of its initiative to create a more vibrant downtown, BAAT successfully applied to the New Mobility West program for technical assistance.   From October 8th through the 11th, a team led by the Sonoran Institute and including the Project for Public conducted a series of interviews, walking and intersection audits and a placemapping exercise.  All were done with the intent of engaging Anacondans in identifying the assets, detriments and opportunities in adding walking, biking and placemaking downtown.</p>

			<p>This online placemapping exercise is intended to provide an opportunity for Anacondans to continue the conversation about our future.</p>


		</div>
	</div>

</div>