
<div id="page_main" class="row">
	<div class="col-md-9 col-left">
		<div id="ui_handle"></div>

		<div id="map_canvas" ></div>
	    
	    <!-- other directives here -->
	    
	
	</div>
	<div class="col-md-3 col-right">

		
		<div class="ui_panel">
			<p>Create New</p>

			<form style="margin:5em 0 5em 0;" role="form">

				<div class="form-group">
					<label for="txtSaName">Study Area Name</label>
					<input id="txtSaName" class="form-control" data-ng-model="StudyAreaName" type="text" placeholder="Enter Study Area">
				 </div>

				<div class="form-group">
					<label>Zoom Level </label>
					{{ mapzoom }}

				</div>
				
				<input type="button" value="Create" data-ng-click="btnCreateStudyArea()" />
			</form>



		</div>

	</div>



</div>
<button id="btnDebug" type="button" class="btn btn-default">Debug</button>

